 {
     margin: 0;
     outline: 0;
     padding: 0;
 }
 body {
     padding-right: 0px !important;
 }
 .bg-image {
     background-image: url('../img/fondo.jpg') !important;
     background-size: cover;
     padding: 0px !important;
 }
 .loader {
     position: fixed;
     left: 0px;
     top: 0px;
     width: 100%;
     height: 100%;
     z-index: 9999;
     background: url('../img/icono.png') no-repeat rgb(249, 249, 249);
     background-position: center;
     background-size: 10%;
     opacity: .8;
     animation: heartBeat;
     /* referring directly to the animation's @keyframe declaration */
     animation-duration: 3s;
     animation-iteration-count: infinite;
     /* don't forget to set a duration! */
 }
 /*-----------------------Margins-------------------------------*/

 .mt-d02 {
     margin-top: -0.2%;
 }
 .mt-d1 {
     margin-top: -1%;
 }
 .mt-d2 {
     margin-top: -2%;
 }
 .mt-d3 {
     margin-top: -3%;
 }
 .mt-d5 {
     margin-top: -5%;
 }
 .mt-5 {
     margin-top: 5%;
 }
 .mt-10 {
     margin-top: 10%;
 }
 .mt-15 {
     margin-top: 15%;
 }
 .mt-20 {
     margin-top: 20%;
 }
 .mt-25 {
     margin-top: 25%;
 }
 .mt-30 {
     margin-top: 30%;
 }
 .mt-35 {
     margin-top: 35%;
 }
 .mt-40 {
     margin-top: 40%;
 }
 .mt-45 {
     margin-top: 45%;
 }
 .ml-20 {
     margin-left: 20%;
 }
 .ml-35 {
     margin-left: 35%;
 }
 .ml-40 {
     margin-left: 40%;
 }
 /*------------------------------------Bordes-------------------------------------*/

 .border-left-orange {
     border-left: 0.25rem solid #dc7633 !important;
 }
 .border-left-blue {
     border-left: 0.25rem solid #3498db !important;
 }
 .border-left-purple {
     border-left: 0.25rem solid #7d30e2b7 !important;
 }
 .border-left-pink {
     border-left: 0.25rem solid #e91e63 !important;
 }
 .border-left-brown {
     border-left: 0.25rem solid #795548 !important;
 }
 .border-left-pink-white {
     border-left: 0.25rem solid #f06292 !important;
 }
 .border-left-green-dark {
     border-left: 0.25rem solid #45b39d !important;
 }
 .border-left-yellow {
     border-left: 0.25rem solid #c0ca33 !important;
 }
 .border-left-green {
     border-left: 0.25rem solid #48c9b0 !important;
 }
 .border-left-semi-green {
     border-left: 0.25rem solid #049579 !important;
 }
 .border-left-semi-orange {
     border-left: 0.25rem solid #ff5722 !important;
 }
 .border-left-green-force {
     border-left: 0.25rem solid #666633 !important;
 }
 .border-left-black {
     border-left: 0.25rem solid #283747 !important;
 }
 .border-left-gray {
     border-left: 0.25rem solid #455a64 !important;
 }
 /*----------------------------------- ALERTS------------------------------------ */

 /* inspired by Twitter Bootstrap */

 .alert {
     padding: 15px;
     margin-bottom: 20px;
     border: none;
     border-radius: 4px;
     position: fixed;
     bottom: 0px;
     right: 21px;
     float: right;
     clear: right;
     background-color: white;
     z-index: 8000;
 }
 .alert-red {
     color: white;
     background-color: #DA4453;
 }
 .alert-green {
     color: white;
     background-color: #37BC9B;
 }
 .alert-blue {
     color: white;
     background-color: #4A89DC;
 }
 .alert-yellow {
     color: white;
     background-color: #F6BB42;
 }
 .alert-orange {
     color: white;
     background-color: #E9573F;
 }
 /*------------------------WIDTHS--------------------*/

 .w-responsive {
     width: 75% !important;
 }
 /*-------------------------BACKGROUNDS------------------------------*/

 .bg-gray {
     background-color: #d6dbdf;
 }
 /*-----------------------------BUTTONS-------------------------------*/

 .btn-haj {
     color: #fff;
     background-color: #01102F;
     border-color: #01102F;
 }
 .btn-haj:hover {
     color: #fff;
     background-color: #1a305f;
     border-color: #1a305f;
 }
 /*----------------------------Textos-----------------------------------*/

 .text-decoration-none {
     text-decoration: none !important;
 }
 .text-orange {
     color: #dc7633 !important;
 }
 .text-blue {
     color: #3498db !important;
 }
 .text-purple {
     color: #7d30e2b7 !important;
 }
 .text-pink {
     color: #e91e63 !important;
 }
 .text-brown {
     color: #795548 !important;
 }
 .text-pink-white {
     color: #f06292 !important;
 }
 .text-green-dark {
     color: #45b39d !important;
 }
 .text-yellow {
     color: #c0ca33 !important;
 }
 .text-green {
     color: #48c9b0 !important;
 }
 .text-semi-green {
     color: #049579 !important;
 }
 .text-semi-orange {
     color: #ff5722 !important;
 }
 .text-green-force {
     color: #666633 !important;
 }
 .text-black {
     color: #283747 !important;
 }
 .text-gray {
     color: #455a64 !important;
 }
 .text-haj {
     color: #01102F !important;
 }
 /*----------------------------Cursor--------------------------------------*/

 .cursor-pointer {
     cursor: pointer !important;
 }
 /*------------------------SELECT------------------------*/

 /*-----------------RESPONSIVE---------------------------*/

 @media screen and (min-width: 1024px) {
     .w-responsive {
         width: 50% !important;
     }
 }
 @media screen and (max-width: 1024px) {
     .w-responsive {
         width: 80% !important;
     }
 }
 /*-----------------------------------------------------*/